<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Feedbox Mobile App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Lexend;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.1;
        color: var(--dl-color-grays-dark100);
        background-color: var(--dl-color-grays-white100);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <style>
      ::placeholder{
      color: #63667066;
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./main.css" rel="stylesheet" />
      <main class="main-main">
        <div class="hero-hero section-container">
          <div class="hero-max-width max-content-container">
            <div class="hero-content-container">
              <h1 class="hero-heading">
                <span>Cartão de Crédito Exclusivo para</span>
                <span class="hero-text1">APOSENTADOS</span>
                <span>e</span>
                <span class="hero-text3">PENSIONISTAS</span>
                <span>do INSS</span>
              </h1>
              <div class="hero-input-container">
                <div class="hero-container input">
                  <svg viewBox="0 0 804.5714285714286 1024" class="hero-icon">
                    <path
                      d="M804.571 708.571c0 20.571-9.143 60.571-17.714 79.429-12 28-44 46.286-69.714 60.571-33.714 18.286-68 29.143-106.286 29.143-53.143 0-101.143-21.714-149.714-39.429-34.857-12.571-68.571-28-100-47.429-97.143-60-214.286-177.143-274.286-274.286-19.429-31.429-34.857-65.143-47.429-100-17.714-48.571-39.429-96.571-39.429-149.714 0-38.286 10.857-72.571 29.143-106.286 14.286-25.714 32.571-57.714 60.571-69.714 18.857-8.571 58.857-17.714 79.429-17.714 4 0 8 0 12 1.714 12 4 24.571 32 30.286 43.429 18.286 32.571 36 65.714 54.857 97.714 9.143 14.857 26.286 33.143 26.286 50.857 0 34.857-103.429 85.714-103.429 116.571 0 15.429 14.286 35.429 22.286 49.143 57.714 104 129.714 176 233.714 233.714 13.714 8 33.714 22.286 49.143 22.286 30.857 0 81.714-103.429 116.571-103.429 17.714 0 36 17.143 50.857 26.286 32 18.857 65.143 36.571 97.714 54.857 11.429 5.714 39.429 18.286 43.429 30.286 1.714 4 1.714 8 1.714 12z"
                    ></path>
                  </svg>
                  <input
                    type="text"
                    placeholder="DIGITE SEU NÚMERO"
                    class="hero-textinput input"
                  />
                </div>
                <button class="hero-button button-primary button">
                  <span>ENVIAR</span>
                </button>
              </div>
              <div class="hero-features-container">
                <div class="hero-feature">
                  <svg viewBox="0 0 877.7142857142857 1024" class="hero-icon2">
                    <path
                      d="M733.714 419.429c0-9.714-3.429-19.429-10.286-26.286l-52-51.429c-6.857-6.857-16-10.857-25.714-10.857s-18.857 4-25.714 10.857l-233.143 232.571-129.143-129.143c-6.857-6.857-16-10.857-25.714-10.857s-18.857 4-25.714 10.857l-52 51.429c-6.857 6.857-10.286 16.571-10.286 26.286s3.429 18.857 10.286 25.714l206.857 206.857c6.857 6.857 16.571 10.857 25.714 10.857 9.714 0 19.429-4 26.286-10.857l310.286-310.286c6.857-6.857 10.286-16 10.286-25.714zM877.714 512c0 242.286-196.571 438.857-438.857 438.857s-438.857-196.571-438.857-438.857 196.571-438.857 438.857-438.857 438.857 196.571 438.857 438.857z"
                    ></path>
                  </svg>
                  <span class="hero-text5">
                    <span>Envio de propostas no mesmo dia!</span>
                  </span>
                </div>
                <div class="hero-feature1">
                  <svg viewBox="0 0 877.7142857142857 1024" class="hero-icon4">
                    <path
                      d="M733.714 419.429c0-9.714-3.429-19.429-10.286-26.286l-52-51.429c-6.857-6.857-16-10.857-25.714-10.857s-18.857 4-25.714 10.857l-233.143 232.571-129.143-129.143c-6.857-6.857-16-10.857-25.714-10.857s-18.857 4-25.714 10.857l-52 51.429c-6.857 6.857-10.286 16.571-10.286 26.286s3.429 18.857 10.286 25.714l206.857 206.857c6.857 6.857 16.571 10.857 25.714 10.857 9.714 0 19.429-4 26.286-10.857l310.286-310.286c6.857-6.857 10.286-16 10.286-25.714zM877.714 512c0 242.286-196.571 438.857-438.857 438.857s-438.857-196.571-438.857-438.857 196.571-438.857 438.857-438.857 438.857 196.571 438.857 438.857z"
                    ></path>
                  </svg>
                  <span class="hero-text6">
                    <span>Profissionais especializados e experientes</span>
                  </span>
                </div>
                <div class="hero-feature2">
                  <svg viewBox="0 0 877.7142857142857 1024" class="hero-icon6">
                    <path
                      d="M733.714 419.429c0-9.714-3.429-19.429-10.286-26.286l-52-51.429c-6.857-6.857-16-10.857-25.714-10.857s-18.857 4-25.714 10.857l-233.143 232.571-129.143-129.143c-6.857-6.857-16-10.857-25.714-10.857s-18.857 4-25.714 10.857l-52 51.429c-6.857 6.857-10.286 16.571-10.286 26.286s3.429 18.857 10.286 25.714l206.857 206.857c6.857 6.857 16.571 10.857 25.714 10.857 9.714 0 19.429-4 26.286-10.857l310.286-310.286c6.857-6.857 10.286-16 10.286-25.714zM877.714 512c0 242.286-196.571 438.857-438.857 438.857s-438.857-196.571-438.857-438.857 196.571-438.857 438.857-438.857 438.857 196.571 438.857 438.857z"
                    ></path>
                  </svg>
                  <span class="hero-text7">
                    <span>Melhores taxas do mercado.</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="hero-image-container">
              <img
                alt="image"
                src="public/MEU/imagem_2023-10-02_173350684-200w.png"
                class="hero-image"
              />
            </div>
          </div>
        </div>
        <div class="section-one1-section-one section-container">
          <div class="section-one1-container">
            <h1 class="section-one1-text">
              <span>Solicite seu cálculo de empréstimo&nbsp;</span>
            </h1>
          </div>
          <div class="section-one1-max-width max-content-container">
            <div class="section-one1-cards-container">
              <div class="section-one1-fgts">
                <img
                  alt="image"
                  src="public/MEU/imagem_2023-10-02_175329873-200h.png"
                  class="section-one1-image"
                />
                <h4 class="section-one1-text01 Heading4">
                  <span>Saque Antecipado</span>
                </h4>
                <span class="section-one1-text02 Content-Light">
                  <span>
                    100% online, prático e cai no mesmo dia! Quer antecipar seu
                    FGTS de forma simples? Contrate pelo Whatsapp.
                  </span>
                </span>
                <span class="section-one1-text03">
                  <span>Solicite Já !</span>
                </span>
              </div>
              <div class="section-one1-cc">
                <img
                  alt="image"
                  src="public/MEU/imagem_2023-10-02_175943900-200h.png"
                  class="section-one1-image1"
                />
                <h4 class="section-one1-text04">
                  <span>Cartão de Crédito</span>
                </h4>
                <span class="section-one1-text05">
                  <span>
                    Mais facilidade para você, aposentado e servidor de órgãos
                    conveniados, fazer compras e saques, à vista ou parcelados,
                  </span>
                </span>
                <span class="section-one1-text06">
                  <span>Solicite Já !</span>
                </span>
              </div>
              <div class="section-one1-consig">
                <img
                  alt="consig"
                  src="public/MEU/imagem_2023-10-02_185846229-200h.png"
                  class="section-one1-image2"
                />
                <h4 class="section-one1-text07 Heading4">
                  <span>Crédito Consignado</span>
                </h4>
                <span class="section-one1-text08">
                  <span>
                    Taxas diferenciadas, possibilidade de reduzir o valor da
                    parcela e solicitar um valor adicional.
                  </span>
                </span>
                <span class="section-one1-text09">
                  <span>Solicite Já !</span>
                </span>
              </div>
              <div class="section-one1-card">
                <img
                  alt="image"
                  src="public/MEU/imagem_2023-10-02_191332477-200h.png"
                  class="section-one1-image3"
                />
                <h4 class="section-one1-text10">
                  <span>Segurança Total</span>
                  <br />
                </h4>
                <span class="section-one1-text13">
                  <span>
                    Nossa empresa é regulamentada pelo Banco Central e segue
                    rigorosamente as regras de sigilo bancário e LGPD.
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="section-two-section-two section-container">
          <div class="section-two-max-width max-content-container">
            <div class="section-two-image-container">
              <img
                alt="image"
                src="https://portalpromotora.com.br/wp-content/uploads/2022/11/Design-sem-nome-2022-11-22T083024.301.png"
                class="section-two-image"
              />
            </div>
            <div class="section-two-content-container">
              <h1 class="section-two-text">
                <span class="section-two-text01">BPC/LOAS:</span>
                <br />
                <span>Empréstimo Consignado LIBERADO !</span>
                <br />
              </h1>
              <span class="section-two-text05">
                <span>
                  A Instrução Normativa PRES/INSS 154 foi assinada em setembro
                  de 2023 e o STF aprovou a volta do crédito consignado para
                  quem recebe o BPC/LOAS.
                </span>
                <br class="Content-Light" />
                <br class="Content-Light" />
                <span>
                  Agora já é possível contratar o consignado LOAS para todos os
                  beneficiários e representante legais, faça sua simulação!
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="section-three-section-three section-container">
          <div class="section-three-max-width max-content-container">
            <div class="section-three-content-container">
              <h1 class="section-three-text">
                <span>Calcule seu empréstimo</span>
              </h1>
              <span class="section-three-text1">
                <span>
                  Preencha o formulário abaixo com as informações corretas, e
                  aguarda que um de nossos consultores estrará em contato o mais
                  breve possível.
                </span>
              </span>
              <form enctype="multipart/form-data" class="section-three-form">
                <div class="section-three-nome">
                  <label class="section-three-nome1"><span>NOME:</span></label>
                  <input
                    type="text"
                    required=""
                    placeholder="placeholder"
                    class="section-three-textinput input"
                  />
                </div>
                <div class="section-three-cpf">
                  <label class="section-three-cpf1"><span>CPF:</span></label>
                  <input
                    type="text"
                    required=""
                    placeholder="placeholder"
                    class="section-three-textinput1 input"
                  />
                </div>
                <div class="section-three-nasc">
                  <label class="section-three-nasc1">
                    <span>DATA DE NASCIMENTO:</span>
                  </label>
                  <input
                    type="text"
                    required=""
                    placeholder="placeholder"
                    class="section-three-textinput2 input"
                  />
                </div>
                <div class="section-three-tel">
                  <label class="section-three-tel1">
                    <span>TELEFONE PARA CONTATO:</span>
                  </label>
                  <input
                    type="text"
                    required=""
                    placeholder="placeholder"
                    class="section-three-textinput3 input"
                  />
                </div>
              </form>
            </div>
            <div class="section-three-image-container">
              <img
                alt="image"
                src="https://images.unsplash.com/photo-1544717305-2782549b5136?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDY3fHxsb2FufGVufDB8fHx8MTY5NjI4NjQ2M3ww&amp;ixlib=rb-4.0.3&amp;w=1200"
                class="section-three-image"
              />
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    <script>
      window.onload = () => {
        const runAllScripts = () => {
          initializeAllSliders();
        };

        const listenForUrlChanges = () => {
          let url = location.href;
          document.body.addEventListener(
            "click",
            () => {
              requestAnimationFrame(() => {
                if (url !== location.href) {
                  runAllScripts();
                  url = location.href;
                }
              });
            },
            true
          );
        };

        const initializeAllSliders = () => {
          const allSliders = document.querySelectorAll('[data-type="slider"]');
          allSliders.forEach((carrousel) => {
            initializeSlider(carrousel);
          });
        };

        const initializeSlider = (carrousel) => {
          let currentSlide = 0;

          const slides = carrousel.querySelectorAll('[data-type="slide"]');
          const nextSlideBtns = carrousel.querySelectorAll(
            '[data-action="nextSlide"]'
          );
          const previousSlideBtns = carrousel.querySelectorAll(
            '[data-action="previousSlide"]'
          );

          const changeSlide = (slideIndex, action) => {
            currentSlide = slideIndex;

            switch (action) {
              case "next":
                slideIndex === slides.length - 1
                  ? (currentSlide = 0)
                  : currentSlide++;
                break;
              case "previous":
                slideIndex === 0
                  ? (currentSlide = slides.length - 1)
                  : currentSlide--;
            }

            carrousel.style.transform = `translateX(${-100 * currentSlide}%)`;
          };

          previousSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "previous")
            );
          });

          nextSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "next")
            );
          });
        };

        runAllScripts();
      };
    </script>
  </body>
</html>
